.form-control {
    width: 100%; 
    max-width: 200px; 
    padding: 5px 10px; 
    border: 2px solid #ccc; 
    border-radius: 50px; /* Oval shape */
    font-size: 10px; /* Text size */
    outline: none; 
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(128, 128, 128, 0.5);
    font-style: italic; 
}

.form-control:focus {
    border-color: #a125ef; 
}
